<div class="marquee-wrapper">
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">NOW</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">BLOG</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">RESUME</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">PORTFOLIO</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">BLACK LIVES MATTER</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">BRAT</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">CLOCK</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">BAO</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">CYPRUS</div>
    </om-marquee>
    <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
        <div #OmMarqueeContent class="marquee-item">MOON</div>
    </om-marquee>
</div>