<div class="marquee-wrapper">
    <a href="https://now.nichelia.com">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">NOW</div>
        </om-marquee>
    </a>
    <a href="https://blog.nichelia.com">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">BLOG</div>
        </om-marquee>
    </a>
    <a href="https://resume.nichelia.com">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">RESUME</div>
        </om-marquee>
    </a>
    <a href="https://portfolio.nichelia.com">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">PORTFOLIO</div>
        </om-marquee>
    </a>
    <a href="https://clock.nichelia.com">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">CLOCK</div>
        </om-marquee>
    </a>
    <a href="https://bao.nichelia.com">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">BAO</div>
        </om-marquee>
    </a>
    <a href="https://cyprus.nichelia.com">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">CYPRUS</div>
        </om-marquee>
    </a>
    <a href="https://moon.nichelia.com">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">MOON</div>
        </om-marquee>
    </a>
    <a href="https://brat.nichelia.com" class="brat">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">BRAT</div>
        </om-marquee>
    </a>
    <a href="https://icannotbreathe.nichelia.com" class="blm">
        <om-marquee [pauseOnHover]="false" [marqueeGap]="'7rem'" [animationDuration]="'7s'">
            <div #OmMarqueeContent class="marquee-item">BLACK LIVES MATTER</div>
        </om-marquee>
    </a>
</div>