<div class="footer-container">
    <div class="message">
        <div>BY</div>
        <div class="message-image-row">
            <div>NICHELIA</div>
            <div class="image-container">
                <img src="/assets/images/me.PNG" alt="Me" class="image" draggable="false" />
            </div>
        </div>
    </div>
    <div class="flex-spacer"></div>
    <div class="bottom">
        <a mat-button href="mailto:nich.elia@gmail.com" target="_blank">Contact me</a>
        <button mat-button disabled>&copy; 2025</button>
    </div>
</div>